# `pandas`: Práce s chybějícími hodnotami, spojování dat
Odkaz na lekci: https://kodim.cz/kurzy/python-data-1/python-pro-data-1/agregace-a-spojovani/pokrocile-upravy

In [1]:
import pandas

Data jsou tentokrát ve třech tabulkách:
* [u202.csv](https://kodim.cz/cms/assets/kurzy/python-data-1/python-pro-data-1/agregace-a-spojovani/u202.csv)
* [u203.csv](https://kodim.cz/cms/assets/kurzy/python-data-1/python-pro-data-1/agregace-a-spojovani/u203.csv)
* [u302.csv](https://kodim.cz/cms/assets/kurzy/python-data-1/python-pro-data-1/agregace-a-spojovani/u302.csv)

In [3]:
u202 = pandas.read_csv("u202.csv")
u203 = pandas.read_csv("u203.csv")
u302 = pandas.read_csv("u302.csv")
u202

    cisloStudenta           predmet  znamka den
0               1            Chemie     NaN  pá
1               2           Dějepis     3.0  pá
2               3        Matematika     2.0  út
3               2  Společenské vědy     2.0  pá
4               4          Biologie     1.0  pá
5               5           Dějepis     1.0  po
6               6            Fyzika     2.0  čt
7               7           Dějepis     4.0  po
8               8        Matematika     2.0  po
9               9           Dějepis     NaN  pá
10             10            Chemie     2.0  st
11              3            Chemie     5.0  út
12             11        Matematika     1.0  st
13             12          Biologie     4.0  st
14             10           Dějepis     5.0  st

## Chybějící hodnoty

In [4]:
u202.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   cisloStudenta  15 non-null     int64
 1   predmet        15 non-null     object
 2   znamka         13 non-null     float64
 3   den            15 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 608.0+ bytes

In [5]:
u202["znamka"].isna() #stejně tak .isnull()

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9      True
10    False
11    False
12    False
13    False
14    False
Name: znamka, dtype: bool

kterým studentům chybí známka ve tříde u202

In [6]:
u202[u202["znamka"].isna()] #.isnull()

   cisloStudenta  predmet  znamka den
0              1   Chemie     NaN  pá
9              9  Dějepis     NaN  pá

In [8]:
u202.dropna(subset=["znamka"]) #zkontroluj u sloupcu me zajímají (znamka) kde je nulová hodnota a ty data odstran
# do subset zadávám ty sloupce, které chci aby se zkontrolovali NaN hodnoty, bez subset se zkontrolují všechny sloupce 
# #u202.dropna(subset=[]) nepodívá se na žádný sloupec!
u202.dropna()

    cisloStudenta           predmet  znamka den
1               2           Dějepis     3.0  pá
2               3        Matematika     2.0  út
3               2  Společenské vědy     2.0  pá
4               4          Biologie     1.0  pá
5               5           Dějepis     1.0  po
6               6            Fyzika     2.0  čt
7               7           Dějepis     4.0  po
8               8        Matematika     2.0  po
10             10            Chemie     2.0  st
11              3            Chemie     5.0  út
12             11        Matematika     1.0  st
13             12          Biologie     4.0  st
14             10           Dějepis     5.0  st

## Spojení tabulek

In [13]:
u202["mistnost"] = "u202"
u203["mistnost"] = "u203"
u302["mistnost"] = "u302"
u202

    cisloStudenta           predmet  znamka den mistnost
0               1            Chemie     NaN  pá     u202
1               2           Dějepis     3.0  pá     u202
2               3        Matematika     2.0  út     u202
3               2  Společenské vědy     2.0  pá     u202
4               4          Biologie     1.0  pá     u202
5               5           Dějepis     1.0  po     u202
6               6            Fyzika     2.0  čt     u202
7               7           Dějepis     4.0  po     u202
8               8        Matematika     2.0  po     u202
9               9           Dějepis     NaN  pá     u202
10             10            Chemie     2.0  st     u202
11              3            Chemie     5.0  út     u202
12             11        Matematika     1.0  st     u202
13             12          Biologie     4.0  st     u202
14             10           Dějepis     5.0  st     u202

In [20]:
#pandas.concat([u202, u203, u302]) index se opakuje
maturita = pandas.concat([u202, u203, u302], ignore_index=True)
maturita_pritomni_studenti = maturita.dropna(subset=["znamka"])
maturita_pritomni_studenti

    cisloStudenta           predmet  znamka den mistnost
1               2           Dějepis     3.0  pá     u202
2               3        Matematika     2.0  út     u202
3               2  Společenské vědy     2.0  pá     u202
4               4          Biologie     1.0  pá     u202
5               5           Dějepis     1.0  po     u202
6               6            Fyzika     2.0  čt     u202
7               7           Dějepis     4.0  po     u202
8               8        Matematika     2.0  po     u202
10             10            Chemie     2.0  st     u202
11              3            Chemie     5.0  út     u202
12             11        Matematika     1.0  st     u202
13             12          Biologie     4.0  st     u202
14             10           Dějepis     5.0  st     u202
15              5  Společenské vědy     3.0  po     u203
16             13        Matematika     5.0  po     u203
17              7       Informatika     3.0  po     u203
18             12            Fyzika     3.0  st     u203
19             14            Fyzika     3.0  st     u203
20             15            Chemie     3.0  pá     u203
21             16       Informatika     2.0  út     u203
22              8           Zeměpis     1.0  po     u203
23             17            Fyzika     4.0  po     u203
24             15  Společenské vědy     3.0  pá     u203
26             20            Fyzika     2.0  čt     u203
28             21          Biologie     4.0  st     u203
29             22           Zeměpis     3.0  út     u203
30             23       Informatika     1.0  po     u302
31             23  Společenské vědy     1.0  po     u302
32              6        Matematika     5.0  čt     u302
33              4       Informatika     1.0  pá     u302
34             16          Biologie     2.0  út     u302
35             20        Matematika     1.0  čt     u302
36             21       Informatika     4.0  st     u302
37             11            Chemie     5.0  st     u302
38             14           Dějepis     3.0  st     u302
40             13            Chemie     4.0  po     u302
41             22       Informatika     3.0  út     u302
43             17        Matematika     3.0  po     u302

In [18]:
maturita.info()
maturita.to_csv("maturita.csv",index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   cisloStudenta  44 non-null     int64
 1   predmet        44 non-null     object
 2   znamka         38 non-null     float64
 3   den            44 non-null     object
 4   mistnost       44 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 1.8+ KB