 # `pandas`: Načtení dat
Odkaz na lekci: https://kodim.cz/kurzy/python-data-1/python-pro-data-1/nacteni-dat/nacteni-dat

In [1]:
import pandas

### Základní práce s DataFrame

#### Načítání dat

In [2]:
nakupy = pandas.read_csv('nakupy.csv')
nakupy

    jmeno       datum               vec  cena
0    Petr  2020-02-05      Prací prášek   399
1   Ondra  2020-02-08              Savo    80
2    Petr  2020-02-24    Toaletní papír    65
3   Libor  2020-03-05              Pivo   124
4    Petr  2020-03-18  Pytel na odpadky    75
5    Míša  2020-03-30  Utěrky na nádobí   130
6   Ondra  2020-04-22    Toaletní papír   120
7    Míša  2020-05-05      Pečící papír    30
8   Zuzka  2020-06-05              Savo    80
9   Pavla  2020-06-13             Máslo    50
10  Ondra  2020-07-25              Káva   300

#### Základní informace o tabulce

In [9]:
nakupy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   jmeno   11 non-null     object
 1   datum   11 non-null     object
 2   vec     11 non-null     object
 3   cena    11 non-null     int64
dtypes: int64(1), object(3)
memory usage: 480.0+ bytes

In [10]:
#(pocet radek, pocet sloupcu)
nakupy.shape

(11, 4)

In [11]:
nakupy.columns

Index(['jmeno', 'datum', 'vec', 'cena'], dtype='object')

In [12]:
nakupy.head()

   jmeno       datum               vec  cena
0   Petr  2020-02-05      Prací prášek   399
1  Ondra  2020-02-08              Savo    80
2   Petr  2020-02-24    Toaletní papír    65
3  Libor  2020-03-05              Pivo   124
4   Petr  2020-03-18  Pytel na odpadky    75

In [13]:
nakupy.tail()

    jmeno       datum             vec  cena
6   Ondra  2020-04-22  Toaletní papír   120
7    Míša  2020-05-05    Pečící papír    30
8   Zuzka  2020-06-05            Savo    80
9   Pavla  2020-06-13           Máslo    50
10  Ondra  2020-07-25            Káva   300

In [14]:
nakupy.sum()

jmeno    PetrOndraPetrLiborPetrMíšaOndraMíšaZuzkaPavlaO...
datum    2020-02-052020-02-082020-02-242020-03-052020-0...
vec      Prací prášekSavoToaletní papírPivoPytel na odp...
cena                                                  1453
dtype: object

In [6]:
nakupy[nakupy['cena'] < 100]

   jmeno       datum               vec  cena
1  Ondra  2020-02-08              Savo    80
2   Petr  2020-02-24    Toaletní papír    65
4   Petr  2020-03-18  Pytel na odpadky    75
7   Míša  2020-05-05      Pečící papír    30
8  Zuzka  2020-06-05              Savo    80
9  Pavla  2020-06-13             Máslo    50

In [17]:
type(nakupy[nakupy['cena'] < 100])

pandas.core.frame.DataFrame

In [19]:
nakupy['cena'] < 100

0     False
1      True
2      True
3     False
4      True
5     False
6     False
7      True
8      True
9      True
10    False
Name: cena, dtype: bool

In [18]:
type(nakupy['cena'] < 100)

pandas.core.series.Series

In [8]:
nakupy.describe()

             cena
count   11.000000
mean   132.090909
std    114.017064
min     30.000000
25%     70.000000
50%     80.000000
75%    127.000000
max    399.000000

### Výběr sloupců

In [15]:
nakupy['vec']
# type(nakupy['vec'])

0         Prací prášek
1                 Savo
2       Toaletní papír
3                 Pivo
4     Pytel na odpadky
5     Utěrky na nádobí
6       Toaletní papír
7         Pečící papír
8                 Savo
9                Máslo
10                Káva
Name: vec, dtype: object

In [16]:
nakupy[['jmeno', 'cena']]
# type(nakupy[['jmeno', 'cena']])
# type(nakupy[['jmeno']])

    jmeno  cena
0    Petr   399
1   Ondra    80
2    Petr    65
3   Libor   124
4    Petr    75
5    Míša   130
6   Ondra   120
7    Míša    30
8   Zuzka    80
9   Pavla    50
10  Ondra   300

### Výběr řádků pomocí čísla řádku

In [ ]:
nakupy.iloc[3]

## Cvičení
Odkaz na cvičení: https://kodim.cz/kurzy/python-data-1/python-pro-data-1/nacteni-dat/excs