# Cvičení

## 1. [Nabídky práce](https://kodim.cz/kurzy/python-data-1/python-pro-data-1/nacteni-dat/excs#excs%3Enabidky)
Stáhni si soubor [`DataAnalyst.csv`](https://kodim.cz/cms/assets/kurzy/python-data-1/python-pro-data-1/nacteni-dat/excs/excs%3Enabidky/DataAnalyst.csv) se seznamem nabídek práce pro datové analytiky. Soubor byl stažen z webu [Kaggle.com](https://www.kaggle.com/andrewmvd/data-analyst-jobs), kde najdeš spoustu zajímavých dat, na kterých se můžeš učit, jak analyzovat data.

**a.** Načti data do DataFrame, který si pojmenuj jobs.

In [1]:
import pandas

In [2]:
jobs = pandas.read_csv('DataAnalyst.csv')
jobs.head()  # Vypiseme prvnich par radek

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True
1,1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1
2,2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1
3,3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1
4,4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True

**b.** Nech si zobrazit názvy sloupců, které jsou v souboru uloženy.

In [3]:
jobs.columns
# Alternativne:
# jobs.info()

Index(['Unnamed: 0', 'Job Title', 'Salary Estimate', 'Job Description',
       'Rating', 'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'Easy Apply'],
      dtype='object')

**c.** Podívej se, kolik má soubor řádek.

In [4]:
jobs.shape
# Alternativy:
# jobs.shape[0]
# len(jobs)
# jobs.info()

(2253, 16)

**d.** Zjisti všechny informace o pracovní pozici na desátém řádku.

In [5]:
jobs.iloc[10] # pripadne [9], pokud chápete desátou řádku jako desátou v pořadí

Unnamed: 0                                                          10
Job Title                                                 Data Analyst
Salary Estimate                             $37K-$66K (Glassdoor est.)
Job Description      NYU Grossman School of Medicine is one of the ...
Rating                                                             4.0
Company Name                                   NYU Langone Health\n4.0
Location                                                  New York, NY
Headquarters                                              New York, NY
Size                                                  10000+ employees
Founded                                                           1841
Type of ownership                                             Hospital
Industry                              Health Care Services & Hospitals
Sector                                                     Health Care
Revenue                                        $5 to $10 billion (USD)
Competitors            NewYork-Presbyterian Hospital, Northwell Health
Easy Apply                                                          -1
Name: 10, dtype: object

**e.** Podívej se, kde budou pracovat zájemci vybraní na dvanáctou až dvacátou pozici.

In [5]:
jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2253 entries, 0 to 2252
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         2253 non-null   int64
 1   Job Title          2253 non-null   object
 2   Salary Estimate    2253 non-null   object
 3   Job Description    2253 non-null   object
 4   Rating             2253 non-null   float64
 5   Company Name       2252 non-null   object
 6   Location           2253 non-null   object
 7   Headquarters       2253 non-null   object
 8   Size               2253 non-null   object
 9   Founded            2253 non-null   int64
 10  Type of ownership  2253 non-null   object
 11  Industry           2253 non-null   object
 12  Sector             2253 non-null   object
 13  Revenue            2253 non-null   object
 14  Competitors        2253 non-null   object
 15  Easy Apply         2253 non-null   object
dtypes: float64(1), int64(2), object(13)
memory usage: 281.8+ KB

In [6]:
jobs.describe()

       Unnamed: 0       Rating      Founded
count   2253.0000  2253.000000  2253.000000
mean    1126.0000     3.160630  1398.522858
std      650.5294     1.665228   901.929251
min        0.0000    -1.000000    -1.000000
25%      563.0000     3.100000    -1.000000
50%     1126.0000     3.600000  1979.000000
75%     1689.0000     4.000000  2002.000000
max     2252.0000     5.000000  2019.000000

In [6]:
# jobs.iloc[12:21]
jobs.iloc[12:21]['Location']

12       New York, NY
13       New York, NY
14    Jersey City, NJ
15       New York, NY
16       New York, NY
17       New York, NY
18       New York, NY
19       New York, NY
20       New York, NY
Name: Location, dtype: object